<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header><div>
        <img src="/public/img/header.jpg" alt="">
        <h1>Heroes de la programación</h1>
    </div></header>
    <ul>
        <li><a href="/">Volver a inicio</a></li>
        <li><a href="berners-lee">Tim Berners Lee</a></li>
        <li><a href="clarke">Edmund Clarke</a></li>
        <li><a href="hamilton">Margaret Hamilton</a></li>
        <li><a href="hopper">Grace M. Hopper</a></li>
        <li><a href="lovelace">Ada Lovelace</a></li>
        <li><a href="turing">Alan Turing</a></li>
    </ul>
    <img src="/public/img/babbage.jpg" alt="">
    <h1>Charles Babbage</h1>
    <p>Fue un matemático británico, un pensador original e innovador y un pionero de la computación.

        nació el 26 de diciembre de 1791, probablemente en Londres, hijo de un banquero. A menudo se sentía mal cuando era niño y se educaba principalmente en el hogar. Cuando fue a la Universidad de Cambridge en 1810, estaba muy interesado en las matemáticas.
        Después de graduarse, Babbage fue contratada por la Royal Institution para dar una conferencia sobre cálculo. En dos años, había sido elegido miembro de la Royal Society y, junto con sus amigos de Cambridge, contribuyó a la creación de la Astronomical Society en 1820, el primero en desafiar el dominio de la Royal Society. Desde 1828 hasta 1839, Babbage fue profesor de matemáticas Lucasian en Cambridge.
        Motor diferencial, analítico
La idea de calcular mecánicamente las tablas matemáticas llegó a Babbage por primera vez en 1812 o 1813. Más tarde, hizo una pequeña calculadora que podía realizar ciertos cálculos matemáticos a ocho decimales. Luego, en 1823, obtuvo el apoyo del gobierno para el diseño de una máquina proyectada, el motor de diferencia , con una capacidad de 20 decimales. Su construcción requirió el desarrollo de técnicas de ingeniería mecánica , a las que Babbage se dedicó necesariamente. Mientras tanto (1828–39), se desempeñó como profesor de matemáticas Lucasian en la Universidad de Cambridge .

A mediados de la década de 1830, Babbage desarrolló planes para la Motor analítico , el precursor de la computadora digital moderna . En ese dispositivo, imaginó la capacidad de realizar cualquier operación aritmética sobre la base de las instrucciones de las tarjetas perforadas, una unidad de memoria en la que almacenar números, el control secuencial y la mayoría de los otros elementos básicos de la computadora actual.


En 1843, la amiga matemática de Babbage, Ada Lovelace, tradujo un artículo en francés sobre el motor analítico y, en sus propias anotaciones , publicó cómo podría realizar una secuencia de cálculos, el primer programa de computadora.. El motor analítico, sin embargo, nunca se completó. El diseño de Babbage se olvidó hasta que se descubrieron sus cuadernos inéditos en 1937. En 1991 los científicos británicos construyeron Difference Engine No. 2, con una precisión de 31 dígitos, según las especificaciones de Babbage, y en el año 2000 también se construyó la impresora para Difference Engine.

Babbage también trabajó en los campos de la filosofía y el descifrado de códigos, así como en la campaña para reformar la ciencia británica. Murió en su casa de Londres el 18 de octubre de 1871.
    </p>
</body>
</html>