<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header><div>
        <img src="/public/img/header.jpg" alt="">        
    <h1>HEROES DE LA PROGRAMACIÓN</h1>
    <h3>No todos los heroes usan capa, algunos a pesar de carecer de poderes sobrenaturales, poseen una inteligencia mas elevada.
        A traves de este super poder han dejado su nombre grabado en la historia, por haber sembrado bases para la programación.
        Es por eso que queremos en esta web hacer una breve reseña de algunos de ellos, ya sea que los conoxcas o no, si estas progrmando estas pisando sobre sus huellas.
    </h3>
    <ul>
        <li><a href="babbage">Charles Babbage</a></li>
        <li><a href="berners-lee">Tim Berners Lee</a></li>
        <li><a href="clarke">Edmund Clarke</a></li>
        <li><a href="hamilton">Margaret Hamilton</a></li>
        <li><a href="hopper">Grace M. Hopper</a></li>
        <li><a href="lovelace">Ada Lovelace</a></li>
        <li><a href="turing">Alan Turing</a></li>
    </ul>
</body>
</html>